<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        Customer 🐽!
        <%= customerId.fristName %>
            <%= customerId.lastName %>
    </h1>
    <div class="btn-toolbar-2 mb-2 mb-md 0">
        <div class="btn-group me-2">
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Explore</button>

    </div>
</div>



<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">
                        <%= customerId.fristName %>
                    </li>
                </ol>
            </nav>  
            <div class="col text-end fw-lighter"> 
                <b><strong>Last Update At :  </strong> <%= new Date(customerId.updateAt).toUTCString() %></b>
                                <b><strong>UserId : </strong>
                                    <%= customerId.id %>
                                </b>
            </div>
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Name:</b></div>
                            <div class="col"><%= customerId.fristName %> <%= customerId.lastName %></div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Telephone:</b>
                        </div>
                        <div class="col">
                                <%= customerId.tel %>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Email:</b>
                        </div>
                        <div class="col">
                            <%= customerId.email %>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Details:</b>
                        </div>
                        <div class="col">
                            <%= customerId.details %>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Data Created:</b>
                        </div>
                        <div class="col">
                            <%= customerId.createAtt %>
                        </div>
                
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;">
                            <b>Data Modified:</b>
                        </div>
                        <div class="col">
                            <%= customerId.updateAt %>
                        </div>
                
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>